.Site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 1px; /* necessary for IE10, IE11, but breaks Safari 6 */
}

.Site-content {
  flex: 1 0 auto;
  width: 100%;
  padding: 1.5em;

  /* stupid IE10 tweener syntax */
  -ms-flex-preferred-size: auto;

  @include breakpoint("large") {
    padding-top: 2em;
  }
}
